body {
	font-family: 'Lato', sans-serif;
}
main {
  min-height: 80vh;

}

#root {
  display: flex;
  flex-direction: column;

}
a {
  text-decoration: none;
}
a > i {
  margin-right: 5px;
}

header .navbar {
	background: #fff;
	border-bottom: 1px solid rgba(0,0,0,.15);
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link.active {
	color: #313131;
	padding: 10px 30px;
	font-weight: 600;
	font-size: 14px;
}

.sidebar {
  position: relative;

}
.sidebar > .form-wrapper {
  top: 50px;
}
.listContent {
	box-shadow: 0 4px 10px rgba(0,0,0,.15);
}
.listContent .list-group-item span:first-child {
	flex: 0 0 40%
}
.listContent.dailyData .list-group-item span:first-child {
	flex: 0 0 20%;
}

.listContent.dailyData .list-group-item span:nth-of-type(2) {
	flex: 1;
	text-align: left;
}

.mapboxgl-ctrl-geocoder {
	width: 100% !important;
	box-shadow: none !important;
	max-width: 100% !important;
	border: 1px solid #ced4da
}
